// TODO
.headerContainer {
  height: 6.5625rem; // 105px
}

.headerContent {
  max-width: 1120px;
  height: 6.5625rem; // 105px
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
}
